<div class="left-box-1">
  <p><i class="fa-solid fa-hand-holding-droplet"></i> Welcome back, <strong>Anji</strong></p>
  <p id="date">{{ currentDate | date: 'd MMMM yyyy , EEEE' }}</p>
</div>

<div class="left-box-2">
  <div><strong>Wallet Balance</strong> <i class="fa-solid fa-wallet"></i></div>
  <h3>₹ <strong>2,50,000</strong></h3>
  <p>Current balance</p>
  <h4>Running low ? <a href="#">Click here</a> to add more</h4>
</div>

<div class="left-box-outer">
  <h2>Pending Actions</h2>
  <div *ngIf="isLoading; else dataSection">
  <app-loader></app-loader>
  </div>
  <ng-template #dataSection>
    <!-- Show the data section when isLoading is false -->
    <div class="left-box-3">
      <ng-container *ngIf="data1.length > 0; else noDataSection">
        <ng-container *ngFor="let item of data1">
          <div class="left-sub-box" *ngIf="item.filesAwaitingUpload > 0">
            <div>
              <h4><strong>{{ item.id }}</strong></h4>
              <button>{{ item.daysAgo }} days ago</button>
            </div>
            <p>{{ item.filesAwaitingUpload }} files are waiting to be Uploaded</p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</div>

<ng-template #noDataSection>
  <p>No pending actions available.</p>
  <app-loader></app-loader>
</ng-template>