<footer class="footer">
    <div class="social-links">
      <a href="https://www.facebook.com" target="_blank">
        <img src="path/to/facebook-logo.png" alt="Facebook">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img src="path/to/twitter-logo.png" alt="Twitter">
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src="path/to/linkedin-logo.png" alt="LinkedIn">
      </a>
    </div>
    <div class="all-rights-reserved">
      &copy; 2023 - All rights reserved.
    </div>
  </footer>
  