.footer {
  background-color: #f9fbfd;
  color: rgb(9, 9, 9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 0px solid red;
}

.social-links {
  align-items: center;
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: rgb(177, 177, 177);
  font-size: 24px;
}

.all-rights-reserved {
  font-size: 14px;
  
  align-content: center;
  border: 0px solid red;
}


/* Make the footer responsive for small screens */
@media screen and (max-width: 600px) {
  .social-links {
    flex-direction: column;
  }
  .social-links a {
    margin-right: 20px;
  }
}

  