#doughnutChart {
    width: 220px;
    
    margin: 0 auto;
    position: relative;
  }

  div{
    border: 0px solid gray;
    background-color: #fff;
    padding: 15px;
    border-radius: 16px;
  }
  
  .chartjs-tooltip {
    opacity: 1;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 12px;
    color: #916fad;
    color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  strong{
    visibility: hidden;
    }

    h1 {
      position: relative;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
    }
    
    h1::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px; 
      width: 34%;
      height: 2px; 
      background-color: #000;
    }