.main-container{
    display: flex;
    max-width: 100%;
    margin-top: 65px;
    min-height: 120vh;
    max-height: auto;
}

.left-container{
    flex: 2;
    padding: 10px;
    border: 0px solid gray;
    background: #f9fbfd;
}

.right-container{
    flex: 7;
    border: 0px solid gray;
    background: #f9fbfd;
}

@media screen and (max-width: 700px) {
    .left-container{
        flex: 4;
    }
    .right-container{
        flex: 6;
    }
  }