.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .outer-container{
    border: 0px solid black;
    padding: 20px 20px;
    border-radius: 16px;
    background-color: white;
  }

  .main-container{
    padding: 15px 25px;
  }
  h1{
    margin-left: 10px;
    color: #080808;
    font-size: 22px;
    font-weight: bolder;
  }

  .frequent{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border: 1px solid rgb(141, 28, 215);
    border-radius: 16px;
  }

  .orders {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    background-color: #F0EBF3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 0px solid gray;
    border-radius: 16px;
  }

  .order-heading{
    display: flex;
    justify-content: space-between;
  }
  
  .frequent h2,
  .orders h2 {
    font-size: 16px;
    color: #030303;
  }
  
  .frequent p,
  .orders p {
    color: #666666;
    font-size: 13px;
  }
  
  .orders .logo {
    font-size: 36px;
    margin-bottom: 10px;
    color: #913ed5;
  }
  
  .orders .logo i {
    display: inline-block;
  }

  .logoPer{
   display: flex;
   justify-content: space-between;
   color: #27ae60;
  }

  .last-item-color .logoPer{
   display: flex;
   justify-content: space-between;
   align-items: center;
    color: #e31d1d;
  }

  .orders div{
    border: 0px solid red;
    text-align: left;
  }
  
  .orders p {
    margin: 5px 0;
  }
  
  .frequent:hover,
  .orders:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }  


  /* CSS styles for Cities and Dates */
  .city-container{
   width: 95%;
   padding: 20px 10px;
   height: auto;
   margin: auto;
   border: 0px solid red;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }

  .city-container select{
    height: 30px;
  }

  select{
    border-radius: 12px;
    width: 20%;
  }

  #dateInput{
    padding: 2px;
    border-radius: 5px;
    
  }
  /* strong{
    
  } */


  /* Styles for chart-container */
  .chart-container{
    display: flex;
    width: 100%;
    margin: 25px 0px;
    justify-content: space-around;
    border-radius: 16px;
    border: 0px solid green;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
  
    .outer-container {
      padding: 10px; 
    }
  
    h1 {
      font-size: 14px; 
    }

    .frequent h2{
      font-size: 8px; 
      border: 0px solid red;
    }  

    .orders h2 {
      font-size: 12px; 
      border: 0px solid rgb(39, 37, 37);
    }  

    .orders h3{
      font-size: 7px; 
      border: 0px solid red;
    }
  
    .frequent p,
    .orders p {
      color: #666666;
      font-size: 8px;
    }

    .orders .logo {
      font-size: 12px;
      margin-left: -12px;
      color: #913ed5;
    }

    .orders{
     justify-content: left;
     gap: 0px;
    }
    .city-container {
      flex-wrap: wrap; 

      /* align-items: flex-start; */
    }
  
    .city-container select {
      width: 50%;
      margin-bottom: 10px; 
    }
  
    .chart-container {
      flex-direction: column; 
      align-items: center;
    }
  
    .chart-container app-chart,
    .chart-container app-chart2 {
      width: 100%; 
    }
  }

  @media screen and (max-width: 768px) {
    
  }