<div class="main-container">
  <div class="outer-container">
    <h1>Frequently Used</h1>
    <div class="grid-container">
      <div class="frequent" *ngFor="let item of frequent">
        <h2>{{ item.title }}</h2>
        <p>{{ item.body }}</p>
        <h2>
          <a href="#">{{ item.link }} > ></a>
        </h2>
      </div>
    </div>
  </div>
  <!-- Cities and Dates -->
  
  <div>
    <div class="city-container">
      <select name="branches" id="branches">
        <option value="">All Branches</option>
        <option *ngFor="let state of statesOfIndia" [value]="state">
          {{ state }}
        </option>
      </select>

      <div>
        <label for="dateInput"><strong>Select a date : </strong></label>
        <input
          type="date"
          id="dateInput"
          name="dateInput"
          #dateInputRef
          (change)="onDateChange(dateInputRef.value)"
        />
        <h3>{{ selectedDate | date: 'MMMM yyyy'}}</h3>
      </div>
    </div>
  </div>

  <div class="outer-container">
    <div class="order-heading">
      <h1>Order Details</h1>
      <span
        ><a href="#"><strong>View All</strong></a></span
      >
    </div>
    <div class="grid-container">
      <div
        class="orders"
        *ngFor="let order of orders; let last = last"
        [ngClass]="{ 'last-item-color': last }"
      >
        <div>
          <h2>{{ order.count }}</h2>
          <h3>{{ order.status }}</h3>
          <div class="logoPer">
            <div [innerHTML]="order.logoPer"></div>
            <p>{{ order.percentage }}</p>
          </div>
        </div>
        <div class="logo" [innerHTML]="order.logo"></div>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <app-chart></app-chart>
    <app-chart2></app-chart2>
  </div>
</div>
